---
import Navigation from "../components/Navigation.astro";
import Decription from "../components/Decription.astro";
import Social from "../components/Social.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Sobre mí - Sunner</title>
  </head>
  <body>
    <nav>
      <Navigation></Navigation>
    </nav>
    <h1>Sobre mí</h1>
    <Decription></Decription>
    <h2>Redes sociales</h2>
		<ul>
			<li>
				<Social platform="github" username="Sunner-01" />
			</li>
			<li>
				<Social platform="twitter" username="JoseCarrilloDev" />
			</li>
			<li>
				<Social platform="linkedin" username="josemariacarrillo" />
			</li>
			<li>
				<Social platform="instagram" username="josemariacarrillo" />
			</li>
    
  </body>
</html>
