---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hola Sunner </title>
	</head>
	<body>
		<h1>Sunner</h1>
		<section>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, sit? Dolor natus tempora ab dignissimos, esse iusto ea eveniet nam cupiditate, magnam consequuntur laborum provident, dolores veniam voluptatem architecto expedita.
			</p>
		</section>
	</body>
</html>
