---
import Navigation from "../components/Navigation.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
	<Navigation></Navigation>
    <title>Inicio - Sunner</title>
  </head>
  <body>
    <nav>
      
    </nav>
    <h1>Bienvenido a mi sitio personal</h1>
    <section>
      <p>
        Hola, soy Sunner. Aquí encontrarás información sobre mí, mis proyectos y las cosas que me apasionan.
      </p>
      <p>
        Explora las diferentes secciones para conocer más sobre mi trabajo y mi historia.
      </p>
    </section>
  </body>
</html>
